.note-container {
    border: 1px solid black;
    width: 500px; 
    max-width: 100%; 
    margin: 10px auto; 
    padding-bottom: 10px;
    text-align: center;
  }
  
  .note-title {
    color: #333;
    font-weight: bold;
  }
  
  .note-content {
    color: #666;
  }
  
  .note-date {
    color: #999;
    font-size: 0.8rem;
  }
  
  .delete-button {
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #d32f2f;
  }