/* SentimentCalendar.css */

.calendar {
    margin: 40px auto auto;
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.react-calendar {
    margin: 40px auto auto;
    padding: 5px 0px;
    align-items: center;
    width: 100%;
    max-width: 400px; /* Set maximum width */
    border: 1px solid #ccc; /* Add border to the calendar */
    border-radius: 8px; /* Round corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.react-calendar__month-view__days {
    display: grid; /* Use grid for days */
    grid-template-columns: repeat(7, 1fr); /* 7 columns for days of the week */
}

.react-calendar__tile {
    height: 80px; /* Set a height for each tile */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center content */
    border: 1px solid transparent; /* Add a border for hover effect */
    transition: border 0.3s; /* Smooth transition for border */
}

.react-calendar__tile:hover {
    border: 1px solid #007bff; /* Highlight tile on hover */
}

.react-calendar__tile--active {
    background-color: white;
}

.react-calendar__tile--now {
    background-color: white;
}
